<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/author.css' />
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Sobre la autora</h2>
    <img src="images/9.jpg" width="300">
    <p><%= nombre %></p>
    <a href="/">Volver al inicio</a>
  </body>
</html>