<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8" />
    <nav><a href="/author">Créditos</a></nav>
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>
    	¡El portal donde podrá crear sus propios juegos!
    	<a href="/question">Comience a jugar</a>
    </p>
    <footer>Mi proyecto en <a href="https://github.com/skeleborg/quiz">GitHub</a>.</footer>
  </body>
</html>
