<h1>Bienvenido a <%= title %></h1>
<p>
	¡El portal donde podrá crear sus propios juegos!<p>
	<a href="quizes/question">Comience a jugar</a>
</p>
<footer>Mi proyecto en <a href="https://github.com/skeleborg/quiz" target="_blank">GitHub</a>.</footer>
