<!DOCTYPE html>
<html>
  <head>
    <title>Preguntas</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8" />
  </head>
  <body>
  	<section class="main" id="s1">
      <%- body %>
    </section>
  </body>
</html>