<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Quiz: el juego de las preguntas</h1>
    <%= respuesta %> <p>
    <a href="/quizes/question">Inténtelo otra vez</a>
  </body>
</html>