<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8" />
  </head>
  <body>
    <form method="GET" action="/quizes/answer">
      Pregunta: <%= pregunta %> <br/>
      <input type="text" name="respuesta" placeholder="Responda aquí"/>
      <input type="submit" value="Enviar"/>
    </form>
  </body>
</html>